@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <p>Программа университет  предназначена для ведения расчетов по имеющимся урокам.</p>
        <p>Учителя могут выбирать позиции из списка уроков.</p>
        <p>Преподователи могут хабрать оплату либо полностью сразу, либо забирать по частям.</p>
    </div>
